services:
  vido:
    build:
      context: .
      args:
        NODE_VERSION: 20-alpine3.18
    image: ghcr.io/teritorio/vido:${VIDO_VERSION:-develop}
    restart: unless-stopped
    ports:
      - ${VIDO_PORT:-3000}:3000
    environment:
      - NUXT_PUBLIC_SENTRY_DSN=${NUXT_PUBLIC_SENTRY_DSN:-}
      - NUXT_PUBLIC_SENTRY_ENVIRONMENT=${NUXT_PUBLIC_SENTRY_ENVIRONMENT:-}
      - NUXT_PUBLIC_GENERIC_API_ENDPOINT=${NUXT_PUBLIC_GENERIC_API_ENDPOINT:-}
      - NUXT_PUBLIC_APP_HOST=${NUXT_PUBLIC_APP_HOST:-}
      - NUXT_PUBLIC_APP_THEME=${NUXT_PUBLIC_APP_THEME:-}
      - NUXT_PUBLIC_APP_PROJECT=${NUXT_PUBLIC_APP_PROJECT:-}
      - NUXT_PUBLIC_API_SEARCH=${NUXT_PUBLIC_API_SEARCH:-}
      - NUXT_PUBLIC_API_ADDR=${NUXT_PUBLIC_API_ADDR:-}
      - NUXT_PUBLIC_API_EXPORT=${NUXT_PUBLIC_API_EXPORT:-}
      - NUXT_PUBLIC_API_QR_SHORTENER=${NUXT_PUBLIC_API_QR_SHORTENER:-}
      - NUXT_PUBLIC_MAPILLARY_ACCESS_TOKEN=${NUXT_PUBLIC_MAPILLARY_ACCESS_TOKEN:-}
      - NUXT_PUBLIC_OPEN_ROUTE_SERVICE_KEY=${NUXT_PUBLIC_OPEN_ROUTE_SERVICE_KEY:-}
      - NUXT_PUBLIC_TRACKING_ENABLED=${NUXT_PUBLIC_TRACKING_ENABLED:-}
