@font-face {
  font-family: 'Ubuntu-Light';
  src: url('Ubuntu-L.eot');
  src: local('☺'), url('Ubuntu-L.woff') format('woff'), url('Ubuntu-L.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
